<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VirtuDockDL: Automated Virtual Screening</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #e4f1fe;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 1300px;
            margin: 5% auto;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            padding: 2rem;
            border-radius: 10px;
            background-color: #fff;
        }

        h1, h2 {
            color: #2980b9;
        }

        h1 {
            font-weight: 700;
        }

        button:hover {
            opacity: 0.9;
        }

        .btn-success {
            background-color: #3498db;
            border-color: #3498db;
        }

        .btn-success:hover {
            background-color: #2980b9;
            border-color: #2980b9;
        }

        .form-section {
            margin-bottom: 2rem;
            padding: 1rem;
            border-radius: 10px;
            background-color: #f2f2f2;
        }

        .features-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around; /* Adjusts spacing around items */
        }

        .feature-box {
            background-color: #e9f8fd;
            border-left: 5px solid #3498db;
            padding: 1rem;
            margin-bottom: 1rem;
            flex: 1; /* Allows boxes to grow */
            min-width: 400px; /* Minimum width of each box */
            min-height: 150px; /* Minimum height of each box */
            display: flex;
            flex-direction: column;
            justify-content: space-between; /* Distributes space vertically */
        }

        .feature-box h3 {
            color: #3498db;
        }

        .btn-info, .btn-primary {
            margin: 0.5rem 0;
        }

        .blinking-btn {
            animation: blinker 1s linear infinite;
            padding: 15px 20px;
            font-size: 20px;
            color: #fff;
            background-color: #ff0000;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            outline: none;
            transition: background-color 0.3s;
        }

        .blinking-btn:hover {
            background-color: #cc0000;
        }

        @keyframes blinker {
            50% {
                opacity: 0.5;
            }
        }
/* Enhanced Welcome Section */
.intro-section {
    background: linear-gradient(135deg, #e4f1fe, #fff); /* Adding a subtle gradient */
    padding: 3rem 1rem;
    margin-top: -2rem; /* Optional: Offset the top margin to bring the section up */
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.intro-section h2 {
    font-size: 2.5rem; /* Larger font size */
    color: #2980b9;
    margin-bottom: 1rem;
}

.intro-section p {
    font-size: 1.2rem; /* Larger font size for better readability */
    color: #333; /* Darker color for contrast */
    margin-bottom: 2rem;
}

.intro-highlight {
    background-color: #d9eaff;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: #2980b9;
    font-weight: 500;
}

/* Button enhancements */
.btn-info, .btn-primary {
    font-weight: bold; /* Make the text bold */
    padding: 1rem 2rem; /* Larger buttons */
    font-size: 1.1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn-info:hover, .btn-primary:hover {
    transform: translateY(-2px); /* Slight lift on hover */
    box-shadow: 0 8px 25px rgba(41, 128, 185, 0.2); /* Shadow effect for depth */
}

        /* Enhanced tabs styling */
        .nav-pills .nav-link {
            border-radius: 0.25rem;
            margin: 0 0.25rem;
            transition: background-color 0.3s, box-shadow 0.3s;
        }

        .nav-pills .nav-link.active, .nav-pills .nav-link:hover, .nav-pills .nav-link:focus {
            box-shadow: 0 4px 8px rgba(41, 128, 185, 0.3);
        }

        /* Core features boxes */
        .core-features .feature-box {
            background-color: #e9f8fd;
            padding: 1rem;
            margin-bottom: 1rem;
            border-left: 5px solid #3498db;
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .core-features .feature-box:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(41, 128, 185, 0.2);
        }
ul {
    padding-left: 20px;
    list-style-type: disc; /* Adds disc bullets to lists */
}

li {
    margin-bottom: 10px; /* Adds space between list items */
}

p, ul {
    font-size: 16px; /* Adjusts font size for readability */
    line-height: 1.6; /* Improves line spacing */
}
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center mb-4">VirtuDockDL: A Deep Learning-based Python Pipeline for Virtual Screening</h1>

        <!-- Navigation Pills -->
        <ul class="nav nav-pills mb-4 justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-virtual-screening-tab" data-toggle="pill" href="#pills-virtual-screening" role="tab" aria-controls="pills-virtual-screening" aria-selected="false">Ligand Prioritization</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-protein-refinement-tab" data-toggle="pill" href="#pills-protein-refinement" role="tab" aria-controls="pills-protein-refinement" aria-selected="false">Structure Refinement</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-molecular-docking-tab" data-toggle="pill" href="#pills-molecular-docking" role="tab" aria-controls="pills-molecular-docking" aria-selected="false">Molecular Docking</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-instructions-tab" data-toggle="pill" href="#pills-instructions" role="tab" aria-controls="pills-instructions" aria-selected="false">Instructions</a>
            </li>
        </ul>
<div class="tab-content" id="pills-tabContent">
    <!-- Home Tab Pane -->
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="text-center">
        </div>
        <!-- Welcome Section -->
<div class="intro-section">
            <h2>Welcome to VirtuDockDL</h2>
            <p>VirtuDockDL is your comprehensive solution for streamlining the process of drug discovery and molecular analysis. With our platform, you can harness the power of deep learning to perform virtual screening, evaluate molecular activities, and predict binding affinities with unprecedented accuracy and speed.</p>
    <div class="text-center mt-4">
        <a href="#pills-instructions" class="btn btn-info btn-lg" role="tab" data-toggle="pill">Learn How to Use</a>
        <a href="#pills-virtual-screening" class="btn btn-primary btn-lg" role="tab" data-toggle="pill">Get Started</a>
    </div>
</div>
                <h3>Core Features:</h3>
                <!-- Feature Boxes -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature-box">
                            <h3>Graph Neural Network-Based Ligand Prioritization</h3>
                            <p>Streamline drug discovery with our GNN model, prioritizing ligands for speed and accuracy.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box">
                            <h3>Descriptor Analysis</h3>
                            <p>Analyze molecular descriptors to predict pharmacological profiles and drug-likeness.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box">
                            <h3>Re-screening</h3>
                            <p>Refine your ligand search iteratively, utilizing new data for targeted identification.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature-box">
                            <h3>Protein Refinement</h3>
                            <p>Train sophisticated models to classify compounds based on your data.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box">
                            <h3>Molecular Docking</h3>
                            <p>Predict ligand interactions with state-of-the-art simulations, focusing on optimal compounds.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box">
                            <h3>Scalable Data Processing</h3>
                            <p>Efficiently process and analyze data across all scales, ensuring fast, reliable drug discovery results.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-virtual-screening" role="tabpanel" aria-labelledby="pills-virtual-screening-tab">
            <div class="container">
               <div class="row">
                 <div class="col-md-6">
                <!-- Upload CSV File Section -->
                <div class="form-section">
                    <form method="POST" enctype="multipart/form-data">
                        <h2 class="mb-3">Upload CSV File</h2>
                        <div class="form-group">
                            <label for="file" class="form-label">Select a CSV File containing data of active and inactive (decoy) molecules</label>
                            <a href="{{ url_for('static', filename='Example1.csv') }}" download="Example1.csv">(Example)</a>
                            <input type="file" name="file" id="file" accept=".csv" class="form-control-file" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>
<!-- Generated Molecules Section -->
                {% if generated_molecules %}
                    <h2 class="mb-3">Generated Molecules</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">SMILES</th>
                                <th scope="col">Activity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for smiles, activity in generated_molecules %}
                                <tr>
                                    <td>{{ smiles }}</td>
                                    <td>{{ activity }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="{{ url_for('download_molecules') }}" class="btn btn-info">Download CSV</a>
                    {% endif %}

                <!-- Clusters Section -->
                <div>
                    {{ clusters_table|safe }}
                </div>

                <!-- Cluster Plot Image Section -->
                {% if plot_file_path %}
                    <img src="{{ url_for('static', filename=plot_file_path) }}" alt="Cluster Plot">
                    <a href="{{ url_for('uploaded_file', filename=plot_file_path) }}" download="{{ plot_file_path }}">
                        <button>Download Plot</button>
                    </a>
                {% endif %}

                <!-- Flash Messages Section -->
                <div class="flash-messages">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class="list-unstyled">
                                {% for message in messages %}
                                    <li class="alert alert-info">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                    {% endwith %}
                </div>
            </div>

            <!-- Re-screening Tab Pane -->
            <div class="form-section">
                 <div class="col-md-12">
                    <h2 class="mb-3">Rescreening</h2>
                    <form action="{{ url_for('rescreening') }}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="file" class="form-label">Upload Compounds' SMILES notations </label>
                            <a href="{{ url_for('static', filename='Example2.csv') }}" download="Example2.csv">(Example)</a>
                            <input type="file" name="file" id="file" accept=".csv" class="form-control-file" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Re-screen</button>
                    </form>
                </div>


                <!-- Success Message and Tables Section -->
                   
                {% if success %}
                    <p>Analysis successful!</p>
                    <div>
                        {{ cluster_table|safe }}
                    </div>

                    <!-- Cluster Plot Section -->
                    {% if plot_file_p %}
                        <div class="plot">
                    	    <img src="{{ url_for('uploaded_file', filename=plot_file_p) }}" alt="Cluster Plot">
   			    <a href="{{ url_for('uploaded_file', filename=plot_file_p) }}" download="{{ plot_file_p }}">
                                <button>Download Plot</button>
                            </a>
                        </div>
                {% endif %}
                <!-- SDF Zip File Download Section -->
                {% if sdf_zip_file %}
                    <div class="download-section">
                        <p>Download the compounds in SDF format:</p>
                        <a href="{{ url_for('download_sdf_zip', filename=sdf_zip_file) }}" download="{{ sdf_zip_file }}">
                            <button class="blinking-btn">Download SDF Folder</button>
                        </a>
                    </div>
                {% endif %}

                {% endif %}

            </div> <!-- End of Re-screening Tab Pane --> 
<div class="form-section">
    <div class="col-md-10">
        <h2 class="mb-3">De Novo Molecule Generation</h2>
        <form method="POST" action="/generate">
            <div class="form-group">
                <label for="num_molecules">Number of Molecules:</label>
                <input type="number" name="num_molecules" id="num_molecules" min="1" placeholder="Enter number" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="lipinski">Options:</label>
                <div class="form-check">
                    <input type="radio" name="options" value="lipinski" id="lipinski" class="form-check-input" checked>
                    <label for="lipinski" class="form-check-label">Apply Lipinski's Rule of Five</label>
                </div>
                <div class="form-check">
                    <input type="radio" name="options" value="no_lipinski" id="no_lipinski" class="form-check-input">
                    <label for="no_lipinski" class="form-check-label">Do Not Apply Lipinski's Rule</label>
                </div>
            </div>
            <button type="submit" name="generate" class="btn btn-success">Generate</button>
        </form>
    </div>
</div>
    </div>
</div>
</div>


<!-- Protein Refinement Tab Pane -->
<div class="tab-pane fade" id="pills-protein-refinement" role="tabpanel" aria-labelledby="pills-protein-refinement-tab">
    <div class="form-section">
        <h2 class="mb-3">Upload Protein File</h2>
        <form method="post" action="{{ url_for('protein_refinement') }}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="proteinFile">Select a PDB File:</label>
                <input type="file" name="file" id="proteinFile" accept=".pdb" class="form-control-file" required>
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </form>
    </div>
    <!-- Results Section -->
    {% if download_links %}
    <div class="results">
        <h2>Results:</h2>
        <div class="plots">
            <h3>Generated Plots</h3>
            {% if download_links.ramachandran_plot %}
               <img src="{{ download_links.ramachandran_plot }}" alt="Ramachandran Plot" class="img-fluid">
            {% endif %}
            {% if download_links.sasa_per_residue_plot %}
               <img src="{{ download_links.sasa_per_residue_plot }}" alt="SASA Plot" class="img-fluid">
            {% endif %}
        </div>
        <div class="downloads">
            <h3>Download Processed Files</h3>
            <a href="{{ download_links.stripped_protein }}" class="btn btn-success" download>Download Stripped Protein</a>
            <a href="{{ download_links.fixed_protein }}" class="btn btn-success" download>Download Fixed Protein</a>
            <a href="{{ download_links.minimized_protein }}" class="btn btn-success" download>Download Minimized Protein</a>
        </div>
    </div>
    {% endif %}
</div>

            <!-- End of Protein Refinement Tab Pane -->
    <!-- Molecular Docking Section -->
        <div class="tab-pane fade" id="pills-molecular-docking" role="tabpanel" aria-labelledby="pills-molecular-docking-tab">
            <div class="form-section">
                <h2 class="mb-3">Upload Files for Docking</h2>
                <form id="docking-form" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="protein_file">Select a Protein File (.pdb):</label>
                        <input type="file" name="protein_file" id="protein_file" accept=".pdb" class="form-control-file" required>
                    </div>
                    <div class="form-group">
                        <label for="ligand_zip">Select Ligand Zip File (.zip):</label>
                        <input type="file" name="ligand_zip" id="ligand_zip" accept=".zip" class="form-control-file" required>
                    </div>
                        <h4 class="mt-4 mb-3">Docking Parameters</h4>
                        <!-- Use Bootstrap rows and columns for layout -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="center_x">Center X:</label>
                                    <input type="number" name="center_x" id="center_x" class="form-control" placeholder="0" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="center_y">Center Y:</label>
                                    <input type="number" name="center_y" id="center_y" class="form-control" placeholder="0" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="center_z">Center Z:</label>
                                    <input type="number" name="center_z" id="center_z" class="form-control" placeholder="0" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="size_x">Size X:</label>
                                    <input type="number" name="size_x" id="size_x" class="form-control" placeholder="20" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="size_y">Size Y:</label>
                                    <input type="number" name="size_y" id="size_y" class="form-control" placeholder="20" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="size_z">Size Z:</label>
                                    <input type="number" name="size_z" id="size_z" class="form-control" placeholder="20" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exhaustiveness">Exhaustiveness:</label>
                            <input type="number" name="exhaustiveness" id="exhaustiveness" class="form-control" placeholder="8" required>
                        </div>
                        <div class="form-group">
                            <label for="num_modes">Number of Modes:</label>
                            <input type="number" name="num_modes" id="num_modes" class="form-control" placeholder="9" required>
                        </div>
                        <div class="form-group">
                            <label for="energy_range">Energy Range:</label>
                            <input type="number" name="energy_range" id="energy_range" class="form-control" placeholder="3" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Upload and Start Docking</button>
                    </form>
                </div>

            <!-- Results Section -->
            <div class="form-section">
                <h2 class="mb-3">Docking Results</h2>
                <p id="results-info">No results yet. Please upload files and start docking.</p>
                <div id="docking-results-table"></div>
                <!-- Download Complexes Button -->
                <a href="#" id="downloadAllComplexesButton" class="btn btn-success mt-2 mb-2" style="display: none;">Download All Complexes and Results in Tabular Form</a>
            <div class="form-section" id="chart-container" style="display:block;">
                <h2 class="mb-3">Docking Chart</h2>
                <canvas id="resultsChart"></canvas>
            </div>
            </div>
        </div>

<!-- Instructions Tab Pane -->
<div class="tab-pane fade" id="pills-instructions" role="tabpanel" aria-labelledby="pills-instructions-tab">
    <div class="form-section">
        <h2>Welcome to VirtuDockDL – Your Automated Virtual Screening Companion</h2>
        <p>VirtuDockDL leverages the power of deep learning to streamline the drug discovery process, making it faster, more accurate, and accessible. Whether you're refining protein structures, prioritizing ligands, or diving deep into molecular docking, VirtuDockDL is here to guide you every step of the way.</p>

        <h3>Getting Started:</h3>
        <ul>
            <li><strong>Upload Your Data:</strong> Begin by uploading your protein files and ligand datasets. VirtuDockDL accepts PDB files for proteins and CSV files for ligands. Ensure your ligand files are formatted correctly, with 'SMILES' and 'Activity' columns for virtual screening.</li>
            <li><strong>Ligand Prioritization:</strong> Use our Graph Neural Network (GNN) model to efficiently prioritize ligands. This process helps in narrowing down potential candidates by predicting their pharmacological profiles.</li>
            <li><strong>Protein Refinement:</strong> Upload your protein structures for refinement. Our platform will optimize your proteins to ensure accurate docking results, improving the prediction of ligand interactions.</li>
            <li><strong>Molecular Docking:</strong> With your ligands prioritized and protein refined, proceed to the Molecular Docking tab. Here, VirtuDockDL simulates the interaction between your ligands and protein targets, helping identify the most promising compounds.</li>
            <li><strong>Analysis and Download Results:</strong> Once docking is complete, analyze the results directly on VirtuDockDL. You can download the detailed reports and visualizations for further analysis.</li>
        </ul>

        <h3>Tips for Success:</h3>
        <p>Ensure your input files are correctly formatted and contain all necessary information. Utilize the "De Novo Molecule Generation" feature to explore new ligands based on specified criteria, enhancing your drug discovery process. Take advantage of our re-screening feature to iteratively refine your search for the optimal ligand.</p>

        <h3>Technical Support:</h3>
        <p>Should you encounter any issues or have questions, please refer to our FAQ section or reach out to our support team. VirtuDockDL is continuously evolving, and your feedback is invaluable to us.</p>

        <h3>Disclaimer:</h3>
        <p>VirtuDockDL is designed for research purposes only. Users are responsible for the interpretation of the results, and it is recommended to corroborate the findings with experimental data.</p>

        <h3>Let's Revolutionize Drug Discovery Together</h3>
        <p>VirtuDockDL is more than a tool; it's your partner in the quest to discover new and effective therapeutics. Explore the possibilities, push the boundaries of what's achievable, and embark on a journey of innovation and discovery.</p>
    </div>
</div>
</div>
</div>
</div>                  

<!-- JavaScript libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>

    <!--JavaScript -->
    <script>

// Function to create chart from CSV data
function createChartFromCSVData(chartData) {
    new Chart(document.getElementById('resultsChart').getContext('2d'), {
        type: 'bar', // or 'line', 'doughnut', etc.
        data: chartData,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
}
        // Define the polling, CSV parsing, and results display functions
        function pollResults() {
            setTimeout(function() {
                $.ajax({
                    url: '/analyze_results',
                    type: 'GET',
                    success: function(data) {
                        if (data && data.length > 0) {
                            displayResults(data);
                        } else {
                            pollResults();
                        }
                    },
                    error: function() {
                        $('#results-info').text('Error fetching results.');
                    }
                });
            }, 5000);  // Poll every 5 seconds
        }

        function displayResults(results) {
            $('#results-info').text('Results ready. Downloading...');
            window.location.href = '/analyze_results';  // Trigger the file download
        }

function fetchAndDisplayResults(job_id) {
    // Fetch results using the job_id
    fetch(`/analyze_results/${job_id}`) // This endpoint should return CSV or some data to indicate readiness
    .then(response => {
        if (!response.ok) {
            throw new Error('Results not ready');
        }
        return response.text();
    })
    .then(csvText => {
        // Parse CSV using PapaParse
        Papa.parse(csvText, {
            header: true,
            skipEmptyLines: true,
            complete: function(results) {
                if (results.data && results.data.length > 0) {
                    // Call function to display table with parsed data
                    displayResultsAsTable(results.data);
                    // Call function to fetch and create chart
                    fetchAndCreateChart(job_id);
                } else {
                    // If results.data is empty, keep polling
                    $('#results-info').text('No results yet. Please wait...');
                    setTimeout(() => fetchAndDisplayResults(job_id), 5000); 
                }
            }
        });
    })
    .catch(error => {
        // Handle errors here
        console.error('Fetch and parse error:', error);
        $('#results-info').text(error.toString());
        setTimeout(() => fetchAndDisplayResults(job_id), 5000); // Retry after delay
    });
}

function displayResultsAsTable(dataArray) {

    console.log("Displaying table with data:", dataArray);  // Diagnostic log
    const resultsDiv = document.getElementById('docking-results-table');
    if (!resultsDiv) {
        console.error('Docking results div not found.'); // Diagnostic error
        return;
    }
    resultsDiv.innerHTML
    
    // Construct the table with the new data
    const table = document.createElement('table');
    table.className = 'table table-bordered table-hover';
    const thead = document.createElement('thead');
    const headerRow = document.createElement('tr');
    Object.keys(dataArray[0]).forEach(header => {
        const th = document.createElement('th');
        th.textContent = header;
        headerRow.appendChild(th);
    });
    thead.appendChild(headerRow);
    table.appendChild(thead);
    
    const tbody = document.createElement('tbody');
    dataArray.forEach(row => {
        const tr = document.createElement('tr');
        Object.values(row).forEach(val => {
            const td = document.createElement('td');
            td.textContent = val;
            tr.appendChild(td);
        });
        tbody.appendChild(tr);
    });
    table.appendChild(tbody);
    
    // Append the table to the DOM
    resultsDiv.appendChild(table);
}

function fetchAndCreateChart(job_id) {
    // Fetch chart data using job_id
    fetch(`/chart_data/${job_id}`) // Use template literal to insert job_id
    .then(response => response.json())
    .then(chartData => {
        if (!chartData || chartData.message) {
            // If the message key exists, it means data is not ready
            throw new Error(chartData.message || "No chart data available.");
        }
        createChartFromCSVData(chartData); // Function to create the chart
    })
    .catch(error => {
        console.error('Error fetching chart data:', error);
        $('#results-info').text(error.toString());
        setTimeout(() => fetchAndCreateChart(job_id), 5000); // Retry after delay
    });
}
$(document).ready(function() {
    $('#docking-form').on('submit', function(e) {
        e.preventDefault(); // Prevent the default form submission
        var formData = new FormData(this);
        $.ajax({
            type: 'POST',
            url: '/upload',
            data: formData,
            contentType: false,
            processData: false,
            success: function(response) {
                $('#results-info').text('Docking started for job ' + response.job_id + ', please wait...');
                // Update the download button with the job_id and make it visible
                $('#downloadAllComplexesButton').attr('href', `/download_complexes/${response.job_id}`).show();
                fetchAndDisplayResults(response.job_id); // Call the function with the job_id
            },
            error: function() {
                $('#results-info').text('An error occurred during file upload.');
            }
        });
    });
});
function fetchAndDisplayResults(job_id) {
    // Fetch results using the job_id
    fetch(`/analyze_results/${job_id}`) // This endpoint should return CSV or some data to indicate readiness
    .then(response => response.text())
    .then(text => {
        // ... handle the response text and display results ...
        fetchAndCreateChart(job_id); // Call fetchAndCreateChart here after you have processed text
    })
    .catch(error => {
        console.error('Error:', error);
        $('#results-info').text('No results yet. Please wait...');
        setTimeout(() => fetchAndDisplayResults(job_id), 5000); // Polling if error occurs
    });
}

function fetchAndCreateChart(job_id) {
    fetch(`/chart_data/${job_id}`) // Use template literal to insert job_id
    .then(response => response.json())
    .then(chartData => {
        if (chartData.message) {
            // If the message key exists, it means data is not ready
            console.log(chartData.message); // Log the message
            setTimeout(() => fetchAndCreateChart(job_id), 5000); // Polling if not ready
        } else {
            createChartFromCSVData(chartData); // This function creates the chart
        }
    })
    .catch(error => {
        console.error('Error fetching chart data:', error);
    });
}
</script>
</body>
</html>
